{% extends "app_search/search_base.html" %}
{% load staticfiles %}
{% block content %}
    <div>
        <table id="viewTable" data-classes="table table-bordered"
        style="background-color: white;">
            <h4>{{ fullFilePath }}</h4>
        </table>
    </div>
{% endblock content %}

    {% block jscontent %}

    <script>
        var $table = $('#viewTable');
        var contentList = {{ content|safe }};
        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'lineNum',
                    title: 'Line No.',
                    align: 'center',
                }, {
                    field: 'lineContent',
                    title: 'Code',
                    formatter: 'codeLineFormatter'
                }]
            });
        };

        function codeLineFormatter(value, row) {
            return "<pre>" + value + "</pre>";
        }

        $(function() {
            initTable();
            console.log("ss")
            $table.bootstrapTable('load', contentList);
        });
    </script>
{% endblock jscontent %}