{% extends "app_search/search_base.html" %}
{% load staticfiles %}
{% block content %}
    <div>
        <table id="viewTable" data-classes="table table-striped table-bordered"
        style="background-color: #f8f9faed;">
            <caption><h1>{{ fullFilePath }}</h1></caption>
        </table>
    </div>
{% endblock content %}

{% block js_content %}
    <script>
        var $table = $('#viewTable');
        var contentList = {{ content|safe }};

        function initTable() {
            $table.bootstrapTable({
                columns: [{
                    field: 'lineNum',
                    title: 'Line No.'
                }, {
                    field: 'lineContent',
                    title: 'Code'
                }]
            });
        };

        $(function() {
            initTable();
            $table.bootstrapTable('load', contentList);
        });
    </script>
{% endblock js_content %}